*{
    font-family: 'Dela Gothic One', cursive;
}
header{
    border-color: rgb(100, 1, 1);
    border-style: solid ;
    text-align: center;
    padding: 25px;
    color: brown;
    background-color: rgba(222, 184, 135, 0.651);
    position: sticky;
    top: 0;
    border-radius: 5px;
}

p{
    border-style: solid ;
    border-color: rgb(175, 84, 31);
    border-radius: 10px;
    margin-right: 75px;
    margin-left: 75px;
}

h3{
    border-style: dashed;
    padding: 15px;
    border-color: crimson;
    margin-right: 60px;
    margin-left: 60px;
}

li{
    margin-left: 100px;
}